* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  font-size: 62.5%;
  font-family: Mulish;
}

header h1{
  font-weight: 900;
  font-size: 5.6rem;
  line-height: 72px;
  text-align: center;

  color: #02799D;
}

header p {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
  text-align: center;
  color: #E1E1E6;
}

body {
  display: grid;
  justify-content: center;
  background-color: #1E1E1E;
  padding: 7.2rem 10.4rem;
  font-size: 1.6rem;
}

.card {
  background: #202024;
  border: 2px solid #323238;
  border-radius: 1rem; 
  min-width: 300px;

  transition: transform 0.5s
}

.card:hover {
  transform: scale(1.1); /* Aumenta a escala em 10% */
}

.card img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}



main {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  
  gap: 2rem;

  padding: 2rem;
}


.card h2 {
  color: #E1E1E6;
  font-weight: 900;
  font-size: 3.6rem;
  padding: 2.4rem 3.2rem;
}

.card p {
  color: whitesmoke;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2.4rem 3.2rem 3.2rem;
}

@media (max-width: 1000px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  header h1 {
    font-size: 3.5rem;
  }

  header p {
    font-size: 2rem;
  }

  .card h2 {
    color: #E1E1E6;
    font-weight: 900;
    font-size: 3rem;
    padding: 2.4rem 3.2rem;
}

  .card p {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2.4rem 3.2rem 3.2rem;
  }
}

@media (max-width: 680px) {
  main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  header h1 {
    font-size: 2.8rem;
  }

  header p {
    font-size: 1.5rem;
  }

  .card h2 {
    color: #E1E1E6;
    font-weight: 900;
    font-size: 2.3rem;
    padding: 1.5rem 1.5rem;
}

  .card p {
    color: whitesmoke;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 2rem 3rem 3rem;
  }
}